<div class="main-frame" >
<ul class="book-input">
  <li>
    <span>Book Id:</span>
    <input nz-input placeholder="please enter book id" nzSize='default' required #book_id>
  </li>
  <li>
    <span>Book Name:</span>
    <input nz-input placeholder="please enter book name" nzSize='default' required #book_name>
  </li>
  <li>
    <span>Book Author:</span>
    <input nz-input placeholder="please enter book author" nzSize='default' required #book_author>
  </li>
  <li>
    <span>Book Pubilsh Time:</span>
    <nz-date-picker [(ngModel)]="date" (ngModel)="book.book_ptime" #book_ptime="ngModel"></nz-date-picker>
  </li>
  <li>
    <span>Book Cover:</span>
    <input nz-input placeholder="please enter book cover" nzSize='default' #book_cover>
  </li>
</ul>
  <button nz-button nzType="primary" (click)="add(book_id.value, book_name.value, book_author.value, book_ptime.value, book_cover.value)">添加书本</button>
</div>
