h1 {
	text-align: center;
	color: blue;
	font-family: 'Times New Roman', Times, serif;
	font-size: 300%;
}

* {
	font-family: 'Times New Roman', Times, serif;
	font-size: 150%;
}

.navbar {
	font-size: 10px;
	background-color: rgb(232, 250, 250);
	width: 1200px;
	margin: 0 auto;
	border: 1px;
	border-color: black;
}

table th {
	text-align: center;
	width: 400px;
}
